body {
  font: 12px sans-serif;
}
.tick > line {
	fill: none;
	stroke: black;
}
.tick > text {
	fill: black;
}
.selected {
	stroke: red;
	fill:red;
}
.selected2 {
	/* stroke: orange; */
	fill:orange; 
}
path.domain {
	fill: none;
	stroke-width: 2px;
	stroke: black;
}

.legend {
	text-decoration: underline;
}

.legend {
	float: left;
	border: 2px solid purple;
	margin-left: 250px;
}

.attrChooser {
	margin-top: 20px;
}

.flex-container {
	display: flex
}

.flex-child {
	flex: 1;
}

.xlabel {
	margin-left: 420px;
	font: 18px sans-serif;
	fill: black;
	stroke: purple;
	stroke-width: 0.5rem;
}

.chart1 {
	margin-bottom: 10px;
}
.chart2 {
	
}

.inputs {
	float:left;
	margin-top: 35px;
	border-top: 2px solid purple;
	border-bottom: 2px solid purple;
	margin-left: 187px;
}

.selectText {
	font: 14px sans-serif;
	font-weight: bold ;
}

.header {
	/* margin-left: 900px; */
	font: 27px sans-serif;
	text-decoration: underline dashed purple;
	text-underline-offset: 10px;
	text-align: center;
}
.header2 {
	/* margin-left: 900px; */
	font: 14px sans-serif;
	text-align: center;
}

.chart1
{
	margin-right: 100px;
}

.axis {
	font: 13px sans-serif;
  }
  .axis path,
  .axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
  }

#wrapper {
	clear:both;
}

.brush .extent {
	fill-opacity: .1;
	stroke: #fff;
	shape-rendering: crispEdges;
}

div.song-info {
	position: absolute;
	text-align: center;
	padding: .5rem;
	background: #FFFFFF;
	color: #313639;
	border: 1px solid #313639;
	border-radius: 8px;
	pointer-events: none;
	font-size: 1rem;
}

